<div>
  <app-article
    [title]="'Article Practice'"
    [content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum fusce ut placerat orci nulla. Augue neque gravida in fermentum et sollicitudin ac orci. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Sapien eget mi proin sed libero enim. Ultrices in iaculis nunc sed augue lacus viverra. Morbi tristique senectus et netus. Ac turpis egestas maecenas pharetra convallis. Ut ornare lectus sit amet est. Euismod nisi porta lorem mollis aliquam ut porttitor leo a. Accumsan tortor posuere ac ut. Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Ultrices neque ornare aenean euismod elementum nisi.'">
  </app-article>
</div>
